.square {
  width: 10vmin;
  height: 10vmin;
  border-radius: 50%; /* Make a circle */
  border: .8vmin solid;
  padding: 0%;
  border-color: rgba(192, 148, 90, 0.5);
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;
}

.valid-square {
  background-color: rgba(255, 0, 0, 0.5); /* Transparent red */
}

.kloak {
  width: 90%;
  height: 90%;
  border-radius: 50%; /* Make a circle */
  background-color: black;
}

.selected-kloak {
  background-color: darkgray;
}

.piece {
  width: 40%;
  height: 40%;
  border-radius: 50%; /* Make a circle */
  background-color: green;
}

.placeholder {
  background-color: transparent;
}

#gameBoard {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1vmin;
  padding: 1vmin;
  box-sizing: border-box; /* Includes padding in the board's dimensions */
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/db/Furnier_messerbirke.jpg);
  background-size: cover; /* Scales the image to cover the board */
  background-position: center; /* Keeps the image centered */
  border-radius: 4vmin;
}
body {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/90/Bambus01.jpg);
  background-size: cover; /* Scales the image to cover the board */
  background-position: center; /* Keeps the image centered */
}

#gameContainer {
  display: flex; 
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  flex-direction: column;
  height: 100vh; 
  margin: 0; 
}

#scoreContainer{
  font-family: "Comic Sans MS", cursive;
  font-size: 25px;
  background-color: burlywood;
  border-radius: 5px;

}

